
\.vs/

RomanCalculator/bin/

RomanCalculator/obj/

RomanCalculatorBusinessComponent/bin/

RomanCalculatorBusinessComponent/obj/

RomanCalculatorDataComponent/obj/

RomanCalculatorDataComponent/bin/

RomanCalculatorFramework/bin/

RomanCalculatorFramework/obj/
